@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
._obj-button {
  background-color: #545454;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #f5f5f5;
  cursor: pointer;
  padding: 0.625rem;
  transition: background-color 125ms ease;
  user-select: none;
  white-space: nowrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
._obj-button:hover {
  background-color: #3b3b3b;
}
._obj-button:active {
  background-color: #212121;
}
._obj-button:disabled {
  background-color: #e0e0e0 !important;
  border-color: #9e9e9e !important;
  cursor: default !important;
}

._obj-check-label {
  cursor: pointer;
  user-select: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
._obj-check-label > input[type=checkbox] {
  display: none;
}
._obj-check-label > .__box {
  width: 1rem;
  height: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 87.5%;
  border: 0.0625rem solid #d7d7d7;
  border-radius: 0.25rem;
  transition-duration: 125ms;
  transition-property: background-color, border-color;
  transition-timing-function: ease;
}
._obj-check-label input[type=checkbox]:checked ~ .__box {
  background-color: #3498db;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABQ0lEQVR4nO3UvUtcQRSG8fELV12wSamVYKUIYhHYlKltU4ilYGdpaSXbipWWljb+AWoiGkgXCIJVUllZCFooCH785LIbEtYd173s3EL2Ke8c5nnP4cwNoUuXhGAKv7CHsaLlgzj1jyssFBmgqjmVIuQf8dBE/oiZ1PISziLdbySVZ2SSiPwPyiElqNTH3Gz0n1LLR/A70n01qTwD2xF5tg+lkBJ8xlMT+T3mUstHcR7pfi3vpWVsYRNDLWp3IvKfGMi7TEf/XXScfYvUzkfkd5jOIx+oCxs5aJwEPuAiEmC1bXkGZiMXvgiB3UjdD/SFPKAfX1uFwJfI+S0mc8n/gmF8eyVEth+XkbOV0AnUQhxqj+/o7UiAHCFuMBE6jbeHWOq4vI0Q++gJKREPcY3xpPIWr2MxFInaP2AdJ1guVN7l3fIM1lqJskcb9u0AAAAASUVORK5CYII=");
  border-color: #3498db;
}
._obj-check-label > .__text {
  color: #3b3b3b;
}
._obj-check-label:hover > .__box {
  border-color: #bdbdbd;
}
._obj-check-label:hover > .__text {
  color: #212121;
}

._obj-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 8;
}
._obj-cover.-visible {
  opacity: 1;
  pointer-events: all;
}

._obj-dialog {
  top: calc(50% + 0.25rem);
  left: 50%;
  width: 22.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem 0.0625rem rgba(33, 33, 33, 0.6274509804);
  box-sizing: border-box;
  opacity: 0;
  padding: 2.5rem;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
  z-index: 9;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}
._obj-dialog.-visible {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}
._obj-dialog > .__title {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

._obj-input {
  width: 100%;
  background-color: #ffffff;
  border: 0.0625rem solid #d7d7d7;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #3b3b3b;
  font: inherit;
  outline: none;
  padding: 0.5rem 0.75rem;
  transition-duration: 125ms;
  transition-property: border-color, color;
  transition-timing-function: ease;
}
._obj-input:hover {
  border-color: #bdbdbd;
  color: #212121;
}
._obj-input:focus {
  border-color: #3498db;
}
._obj-input:disabled {
  background-color: #f5f5f5 !important;
  border-color: #e0e0e0 !important;
  color: #e9e9e9 !important;
}

._obj-label {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
}
._obj-label > .__text {
  color: #757575;
  font-size: 0.8rem;
}
._obj-label > .__horizontal {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
}
._obj-label > .__horizontal > .spring {
  flex: 1;
}
._obj-label > .__warning {
  max-height: 0;
  color: #e74c3c;
  font-size: 0.8rem;
  line-height: 1.25;
  overflow: hidden;
  transition-duration: 250ms;
  transition-property: max-height;
  transition-timing-function: ease;
}
._obj-label:hover > .__text {
  color: #424242;
}
._obj-label:focus-within > .__text {
  color: #3498db;
}
._obj-label.-invalid .__field {
  border-color: #e74c3c;
  color: #e74c3c;
}
._obj-label.-invalid > .__text {
  color: #e74c3c;
}
._obj-label.-invalid > .__warning {
  max-height: 2rem;
}

._obj-message-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 250ms;
  z-index: 10;
}
._obj-message-cover.-visible {
  opacity: 1;
  pointer-events: all;
}

._obj-message {
  top: calc(50% + 0.25rem);
  left: 50%;
  min-width: 15rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem 0.0625rem rgba(33, 33, 33, 0.3764705882);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  transition-property: top, opacity;
  z-index: 11;
}
._obj-message.-visible {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}
._obj-message > .__title {
  background-color: #212121;
  color: #ffffff;
  padding: 0.75rem 1rem;
}
._obj-message > .__content {
  background-color: #ffffff;
  line-height: 1.25;
  padding: 0.75rem 1rem;
}
._obj-message > .__button-container {
  border-top: 0.0625rem solid #eeeeee;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
._obj-message > .__button-container > .__button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  margin: initial;
  padding-block: initial;
  padding-inline: initial;
  outline: none;
  padding: 0.5rem;
  user-select: none;
}
._obj-message > .__button-container > .__button:hover {
  background-color: #f9f9f9;
}
._obj-message > .__button-container > .__button:active {
  background-color: #f2f2f2;
}
._obj-message > .__button-container > .__button:focus {
  text-decoration: underline;
}
._obj-message > .__button-container > .__button + .__button {
  border-left: 0.0625rem solid #e0e0e0;
}

body {
  cursor: default;
  font-family: "Pretendard Variable", "Pretendard", -apple-system, "BlinkMacSystemFont", "system-ui", "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1;
}

a:link, a:visited {
  color: #3498db;
  text-decoration: none;
}
a:link:hover, a:visited:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}

ol, ul {
  list-style-type: none;
  margin-block: initial;
  margin-inline: initial;
  padding-inline: initial;
}

/*# sourceMappingURL=common.css.map */
