@charset "UTF-8";
@import "index.addAside";
@import "index.listAside";
@import "index.addressFinder";
@import "index.detailAside";

$aside-width: 22.5rem;
$nav-width: 4.5rem;

body {
  height: 100vh;
  background-color: #f5f5f5;
  margin: initial;
  overflow: hidden;

  > .aside {
    top: 0;
    left: calc($nav-width - 0.5rem); // 왼쪽에서 슬그머니 나오게 하기 위한 포지션
    width: $aside-width;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 1.5rem 0.0625rem #21212160;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden auto;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: left, opacity;
    z-index: 2;


    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    >.title{
      top: 0;
      backdrop-filter: blur(0.5rem); // 뒷배경 투시도 설정
      background-color: #ffffffe0;
      border-bottom: 0.0265rem solid #eeeeee; //박스 밑줄 그어주기
      font-size: 1rem;
      padding: 0.75rem;
      position: sticky; // 위치한 자리에서 벗어나지 않고 브라우저 화면 자체에 고정됨
      text-align: center; // 박스 내용 위치 선정

      >.closer{
        top: 50%;
        left: 0.625rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        box-sizing: border-box;
        color: #424242;
        cursor: pointer;
        font-size: 0.9rem;
        position: absolute;
        transform: translateY(-50%);

        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &:hover{
          background-color: #eeeeee;
          color: #212121;
        }
      }
    }

    &.-visible{
      left: $nav-width;
      opacity: 1;
      pointer-events: all;
    }
  }
}

#nav {
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100%;
  background-color: #212121;

  box-sizing: border-box;
  color: #f5f5f5;
  position: fixed;
  z-index: 3;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .spring {
    border-bottom: 0.0625rem solid lighten(#212121, 7.5%);
    flex: 1;
  }

  > .menu {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > .item + .item {
      border-top: 0.0625rem solid lighten(#212121, 7.5%);
    }

    > .item > .link {
      $color: #f5f5f5;

      width: $nav-width;
      height: $nav-width;
      color: darken($color, 20%);
      text-decoration: none;
      transition: color 125ms ease;

      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;

      > .text {
        font-size: 0.8rem;
      }

      &:hover {
        color: darken($color, 10%);
      }

      &:active {
        color: $color;
      }
    }
  }
}

#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 250ms;
  user-select: none;
  z-index: 10;

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;

  > .image {
    top: 0.25rem;
    width: 4rem;
    height: 4rem;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-name: animation-loading-image;
    animation-timing-function: linear;
    position: relative;
    transition: top 250ms;

    @keyframes animation-loading-image {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  > .text {
    top: 0.25rem;
    color: #ffffff;
    font-size: 1.5rem;
    opacity: 0;
    transition-duration: 250ms;
    transition-property: top, opacity;
  }

  &.-visible {
    opacity: 1;
    pointer-events: all;

    > .image {
      top: 0;
    }

    > .text {
      top: 0;
      opacity: 1;
    }
  }
}

#loginForm {
  > .menu {
    margin-top: 1.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: flex-start;
  }
}

#map {
  height: 100%;
  margin-left: calc($nav-width + $aside-width);
}


#recoverDialog {
  width: 25rem;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;

  > .type-wrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    > .type {
      border: 0.125rem solid #e0e0e0;
      border-radius: 0.25rem;
      cursor: pointer;
      padding: 0.75rem 1rem;
      user-select: none;

      align-items: stretch;
      display: flex;
      flex-direction: column;
      gap: 0.375rem;
      justify-content: flex-start;

      > [name= "type"] {
        display: none;
      }

      > .title {
        font-size: 1rem;
      }

      > .message {
        color: #757575;
        font-size: 0.8rem;
        line-height: 1.25;
      }


      &:hover {
        border-color: darken(#e0e0e0, 5%);
      }

      &:has([name="type"]:checked) {
        border-color: #3498db;
      }
    }


    &:has([name="type"][value="email"]:checked) ~ .form.email {
      display: flex;
    }

    &:has([name="type"][value="password"]:checked) ~ .form.password {
      display: flex;
    }
  }

  > .form {
    display: none;

    align-items: stretch;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
  }
}


#registerForm {
  width: 25rem;
}
