<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="_obj-cover" id="cover" th:fragment="cover"></div>
<!--<div class="_obj-message-cover"></div>-->
<!--<div class="_obj-message">-->
<!--    <div class="__title">제목</div>-->
<!--    <div class="__content">내용</div>-->
<!--    <div class="__button-container">-->
<!--        <button class="__button" type="button">버튼 1</button>-->
<!--        <button class="__button" type="button">버튼 2</button>-->
<!--    </div>-->
<!--</div>-->
<!--common.js에서 돔파서로 만들어줌.-->
</html>