
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside class="aside list -visible" id="listAside" th:fragment="listAside">

    <h2 class="title">맛집 목록</h2>
    <ul class="places">
        <!--        <li class="empty">현재 위치에 등록된 맛집이 없어요.<br><br>위치를 옮기거나 맛집을 등록해 보세요.</li>-->
        <!--        <li class="item">-->
        <!--            <img src="https://img.choroc.com/newshop/goods/009179/009179_1.jpg" alt="" class="thumbnail">-->
        <!--            <div class="info">-->
        <!--                <h3 class="title">-->
        <!--                    <span class="title">후끄스시 시부야</span>-->
        <!--                    <span class="category">일식당</span>-->
        <!--                </h3>-->
        <!--                <span class="op">-->
        <!--                    <span class="status">영업 전</span>-->
        <!--                    <span class="detail">11:30에 영업 시작</span>-->
        <!--                </span>-->
        <!--                <span class="address">대구 중구 삼덕동2가</span>-->
        <!--                <ul class="menu">-->
        <!--                    <li class="item favorite">-->
        <!--                        <i class="icon fa-regular fa-heart"></i>-->
        <!--                        <span class="text">1,776</span>-->
        <!--                    </li>-->
        <!--                    <li class="item review">-->
        <!--                        <i class="icon fa-solid fa-comments"></i>-->
        <!--                        <span class="text">3,867</span>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </div>-->

        <!--        </li>-->
    </ul>
    <!--    nav 태그에서 연결되는 것으로 변경-->
    <!--    <div class="buttonDiv">-->
    <!--        <button class="_obj-button add" name="add">맛집 추가</button>-->
    <!--    </div>-->
</aside>
</html>