<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<form novalidate class="_obj-dialog" id="registerForm"
      th:with="userRegex=${T(com.jwj.matzip.regexes.UserRegex)}, emailAuthRegex=${T(com.jwj.matzip.regexes.EmailAuthRegex)}"
      th:fragment="registerForm">

    <h2 class="__title">회원가입</h2>

    <input hidden name="emailSalt" type="hidden"> <!--히든으로 헤쉬코드 값 들어갈 자리-->

    <label class="_obj-label" rel="emailLabel">
        <span class="__text">이메일</span>
        <span class="__horizontal">
            <input required autocomplete="email" class="_obj-input __field -spring" maxlength="50" minlength="5"
                   name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email"
                   th:attrappend="data-regex=${userRegex.email.expression}">
            <button class="_obj-button" name="emailSend" type="button">인증번호 전송</button>
        </span>
        <span class="__horizontal">
            <input disabled required autocomplete="one-time-code" class="_obj-input __field -spring" maxlength="6"
                   minlength="6" name="emailCode" placeholder="인증번호 (숫자 여섯 자리)" spellcheck="false" type="text"
                   th:attrappend="data-regex=${emailAuthRegex.code.expression}">
            <button disabled class="_obj-button" name="emailVerify" type="button">인증번호 확인</button>
        </span>
        <span class="__warning">올바른 이메일을 입력해 주세요.</span>
    </label>

    <label class="_obj-label" rel="passwordLabel">
        <span class="__text">비밀번호</span>
        <input required autocomplete="new-password" class="_obj-input __field" maxlength="50" minlength="5"
               name="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)" spellcheck="false" type="password"
               th:attrappend="data-regex=${userRegex.password.expression}">
        <input required autocomplete="off" class="_obj-input __field" maxlength="50" minlength="5" name="passwordCheck"
               placeholder="비밀번호 재입력" spellcheck="false" type="password">
    </label>

    <label class="_obj-label" rel="nicknameLabel">
        <span class="__text">닉네임</span>
        <input required autocomplete="off" class="_obj-input __field" maxlength="10" minlength="2" name="nickname"
               placeholder="닉네임 (숫자, 영어 대소문자, 완성 한글 2자 이상 10자 이하" spellcheck="false" type="text"
               th:attrappend="data-regex=${userRegex.nickname.expression}">
    </label>

    <label class="_obj-check-label">
        <input name="agree" type="checkbox">
        <span class="__box"></span>
        <span class="__text">
            <a target="_blank" th:href="@{/assets/htmls/term-policy.html}">서비스 이용약관</a> 및 <a target="_blank"
                                                                                             th:href="@{/assets/htmls/term-privacy.html}">개인정보 처리방침</a>을 읽어보았으며 이해하였고 동의합니다.
        </span>
    </label>

    <button class="_obj-button" type="submit">
        <i class="__icon fa-solid fa-user-plus"></i>
        <span class="__text">회원가입</span>
    </button>

    <button class="_obj-button" rel="showLoginCaller" type="button">
        <i class="__icon fa-solid fa-xmark"></i>
        <span class="__text">돌아가기</span>
    </button>
</form>
</html>