<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>맛을 담다 - 맛집</title>

    <link rel="stylesheet"
          type="text/css"
          th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/assets/styles/index.css}">
    <link rel="stylesheet"
          href="https://unpkg.com/flickity@2/dist/flickity.min.css">


    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!--카카오 주소찾기 API 끌어온거.-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!--카카오 지도 API 끌어온것.-->
    <script type="text/javascript"
            src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4ee6ee344c8b656f02402db6d50c0983&libraries=services"></script>
    <!--&libraries=services 구문을 추가해서 위도와 경도 들을 찍을거 libraries에 js파일 추가. 주소로 장소 표시하기에 사용법있음. 카카오 API-->
    <!--src 접속해서 컨트롤 s 눌러서 js 파일로 저장해서 라이브러리 폴더에 넣어서 사용가능. 항상 우리가 만든 스크립트 보다 우선으로 작성해줘야함.-->

    <!--폰트어썸 임폴트 스크립트-->
    <script src="https://kit.fontawesome.com/632af9ab8a.js" crossorigin="anonymous"></script>

    <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.addAside.js}"></script>
    <!--항상 자식이 부모보다 상행해야한다.-->
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.detailAside.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.listAside.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/index.js}"></script>
</head>
<body th:with="userRegex=${T(com.jwj.matzip.regexes.UserRegex)}, emailAuthRegex=${T(com.jwj.matzip.regexes.EmailAuthRegex)}">
<!--바디 전체에서 언제든지 정규식을 확인할수 있는 변수를 선언해주기 위해 바디에서 내용들을 저장해둔것.-->
<th:block th:replace="~{fragments/index/loading.html :: loading}"></th:block>

<!--fragments 는 이렇게 연결해서 쓰는거 ~{} 접근으로 사용.-->

<th:block th:replace="~{fragments/index/cover.html :: cover}"></th:block>


<th:block th:replace="~{fragments/index/loginForm.html :: loginForm}"></th:block>
<!--fragments 는 이렇게 연결해서 쓰는거 ~{} 접근으로 사용.-->

<th:block th:replace="~{fragments/index/registerForm.html :: registerForm}"></th:block>


<th:block th:replace="~{fragments/index/recoverDialog.html :: recoverDialog}"></th:block>


<th:block th:replace="~{fragments/index/nav.html :: nav}"></th:block>


<th:block th:replace="~{fragments/index/listAside.html :: listAside}"></th:block>


<th:block th:replace="~{fragments/index/addressFinder.html :: addressFinder}"></th:block>


<th:block th:replace="~{fragments/index/addAside.html :: addAside}"></th:block>


<th:block th:replace="~{fragments/index/detailAside.html :: detailAside}"></th:block>


<th:block th:replace="~{fragments/index/map.html :: map}"></th:block>

</body>
</html>
<!--<div id="loading">-->
<!--    <img class="image" th:src="@{/assets/images/loading.png}">-->
<!--    <span class="text">잠시만 기다려 주세요...</span>-->
<!--</div>-->
<!--<div class="_obj-cover" id="cover"></div>-->
<!--&lt;!&ndash;<div class="_obj-message-cover"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="_obj-message">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="__title">제목</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="__content">내용</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="__button-container">&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="__button" type="button">버튼 1</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="__button" type="button">버튼 2</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--<form novalidate class="_obj-dialog" id="loginForm">-->
<!--    <h2 class="__title">로그인</h2>-->
<!--    <label class="_obj-label" rel="emailLabel">-->
<!--        <span class="__text">이메일</span>-->
<!--        <input required autocomplete="email" type="email" class="_obj-input __field" maxlength="50" minlength="5"-->
<!--               name="email"-->
<!--               placeholder="이메일 (user#sample.com)" spellcheck="false"-->
<!--               th:attrappend="data-regex=${userRegex.email.expression}">-->
<!--    </label>-->
<!--    <label class="_obj-label" rel="passwordLabel">-->
<!--        <span class="__text">비밀번호</span>-->
<!--        <input required autocomplete="current-password" class="_obj-input __field" maxlength="50" minlength="5"-->
<!--               name="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)" spellcheck="false" type="password"-->
<!--               th:attrappend="data-regex=${userRegex.password.expression}">-->
<!--    </label>-->
<!--    <label class="_obj-check-label">-->
<!--        <input name="remember" type="checkbox">-->
<!--        <span class="__box"></span>-->
<!--        <span class="__text">다음부터 이메일을 기억합니다.</span>-->
<!--    </label>-->
<!--    <button class="_obj-button" type="submit">-->
<!--        <i class="__icon fa-solid fa-arrow-right-to-bracket"></i>-->
<!--        <span class="__text">로그인</span>-->
<!--    </button>-->
<!--    <ul class="menu">-->
<!--        <li class="item">-->
<!--            <span class="text">아직 계정이 없으신가요?</span>-->
<!--            <a class="link" href="#" rel="showRegisterCaller">회원가입</a>-->
<!--        </li>-->
<!--        <li class="item">-->
<!--            <span class="text">계정 정보를 분실하셨나요?</span>-->
<!--            <a class="link" href="#" rel="showRecoverCaller">계정 복구</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</form>-->
<!--<form novalidate class="_obj-dialog " id="registerForm">-->
<!--    <h2 class="__title">회원가입</h2>-->
<!--    <input hidden name="emailSalt" type="hidden">-->
<!--    <label class="_obj-label" rel="emailLabel">-->
<!--        <span class="__text">이메일</span>-->
<!--        <span class="__horizontal">-->
<!--        <input required autocomplete="email" type="email" class="_obj-input __field -spring" maxlength="50"-->
<!--               minlength="5" name="email"-->
<!--               placeholder="이메일 (user#sample.com)" spellcheck="false"-->
<!--               th:attrappend="data-regex=${userRegex.email.expression}">-->
<!--            <button class="_obj-button" name="emailSend" type="button">인증번호 전송</button>-->
<!--        </span>-->
<!--        <span class="__horizontal">-->
<!--            <input disabled required autocomplete="one-time-code" class="_obj-input __field -spring" maxlength="6"-->
<!--                   minlength="6" name="emailCode" placeholder="인증번호 (숫자 여섯 자리)" spellcheck="false" type="text"-->
<!--                   th:attrappend="data-regex=${emailAuthRegex.code.expression}">-->
<!--            <button class="_obj-button" name="emailVerify" type="button">인증번호 확인</button>-->
<!--        </span>-->
<!--        <span class="__warning">올바른 이메일을 입력해 주세요.</span>-->
<!--    </label>-->
<!--    <label class="_obj-label" rel="passwordLabel">-->
<!--        <span class="__text">비밀번호</span>-->
<!--        <input required autocomplete="new-password" class="_obj-input __field" maxlength="50" minlength="5"-->
<!--               name="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)" spellcheck="false" type="password"-->
<!--               th:attrappend="data-regex=${userRegex.password.expression}">-->
<!--        <input required autocomplete="off" class="_obj-input __field" maxlength="50" minlength="5" name="passwordCheck"-->
<!--               spellcheck="false" type="password" placeholder="비밀번호 재입력">-->
<!--    </label>-->
<!--    <label class="_obj-label" rel="nicknameLabel">-->
<!--        <span class="__text">닉네임</span>-->
<!--        <input required autocomplete="off" class="_obj-input __field" maxlength="50" minlength="5" name="nickname"-->
<!--               spellcheck="false" type="text" placeholder="닉네임(숫자, 영어 대소문자, 완성 한글 2자 이상)"-->
<!--               th:attrappend="data-regex=${userRegex.nickname.expression}">-->
<!--    </label>-->
<!--    <label class="_obj-check-label">-->
<!--        <input name="agree" type="checkbox">-->
<!--        <span class="__box"></span>-->
<!--        <span class="__text">-->
<!--            <a target="_blank" th:href="@{/assets/htmls/term-policy.html}">서비스이용약관</a> 및-->
<!--            <a target="_blank" th:href="@{/asstes/htmls/term-privacy.html}">개인정보 처리방침</a>을 읽어보았으며 이해하였고 동의합니다.-->
<!--        </span>-->
<!--    </label>-->
<!--    <button class="_obj-button" type="submit">-->
<!--        <i class="__icon fa-solid fa-user-plus"></i>-->
<!--        <span class="__text">회원가입</span>-->
<!--    </button>-->
<!--    <button class="_obj-button" name="cancelButton" rel="showLoginCaller" type="button">-->
<!--        <i class="__icon fa-solid fa-xmark"></i>-->
<!--        <span class="__text">돌아가기</span>-->
<!--    </button>-->

<!--</form>-->
<!--<div class="_obj-dialog" id="recoverDialog">-->
<!--    <h2 class="__title">계정 복구</h2>-->
<!--    <div class="type-wrapper">-->
<!--        <label class="type">-->
<!--            <input checked name="type" value="email" type="radio">-->
<!--            <span class="title">이메일 찾기</span>-->
<!--            <span class="message">가입시 입력한 닉네임으로 이메일을 찾을 수 있습니다.</span>-->
<!--        </label>-->
<!--        <label class="type">-->
<!--            <input checked name="type" value="password" type="radio">-->
<!--            <span class="title">비밀번호 재설정하기</span>-->
<!--            <span class="message">이메일 인증을 통해 비밀번호를 재설정할 수 있습니다.</span>-->
<!--        </label>-->
<!--    </div>-->
<!--    <form class="form email" rel="emailForm">-->
<!--        <label class="_obj-label" rel="nicknameLabel">-->
<!--            <span class="__text">닉네임</span>-->
<!--            <input required autocomplete="off" class="_obj-input __field" maxlength="10" minlength="2" name="nickname"-->
<!--                   placeholder="닉네임 (숫자, 영어 대소문자, 완성 한글 2자 이상 10자 이하)" spellcheck="false" type="text"-->
<!--                   th:attrappend="data-regex=${userRegex.nickname.expression}">-->
<!--        </label>-->
<!--        <button class="_obj-button" type="submit">이메일 찾기</button>-->
<!--    </form>-->
<!--    <form class="form password" rel="passwordForm">-->
<!--        <input hidden name="emailSalt" type="hidden">-->
<!--        <label class="_obj-label" rel="emailLabel">-->
<!--            <span class="__text">이메일</span>-->
<!--            <span class="__horizontal">-->
<!--                <input required autocomplete="email" class="_obj-input __field -spring" maxlength="50" minlength="5"-->
<!--                       name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email"-->
<!--                       th:attrappend="data-regex=${userRegex.email.expression}">-->
<!--                <button class="_obj-button" name="emailSend" type="button">인증번호 전송</button>-->
<!--            </span>-->
<!--            <span class="__horizontal">-->
<!--                <input disabled required autocomplete="one-time-code" class="_obj-input __field -spring" maxlength="6"-->
<!--                       minlength="6" name="emailCode" placeholder="인증번호 (숫자 여섯 자리)" spellcheck="false" type="text"-->
<!--                       th:attrappend="data-regex=${emailAuthRegex.code.expression}">-->
<!--                <button disabled class="_obj-button" name="emailVerify" type="button">인증번호 확인</button>-->
<!--            </span>-->
<!--            <span class="__warning">올바른 이메일을 입력해 주세요.</span>-->
<!--        </label>-->
<!--        <label class="_obj-label" rel="passwordLabel">-->
<!--            <span class="__text">비밀번호</span>-->
<!--            <input disabled required autocomplete="new-password" class="_obj-input __field" maxlength="50" minlength="5"-->
<!--                   name="password" placeholder="신규 비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)" spellcheck="false"-->
<!--                   type="password" th:attrappend="data-regex=${userRegex.password.expression}">-->
<!--            <input disabled required autocomplete="off" class="_obj-input __field" maxlength="50" minlength="5"-->
<!--                   name="passwordCheck" placeholder="신규 비밀번호 재입력" spellcheck="false" type="password">-->
<!--        </label>-->
<!--        <button class="_obj-button" type="submit">비밀번호 재설정</button>-->
<!--    </form>-->
<!--    <button class="_obj-button" name="cancelButton" type="button">돌아가기</button>-->
<!--</div>-->
<!--<nav id="nav">-->
<!--    <ul class="menu">-->
<!--        <li class="item" >-->
<!--            <a class="link" href="#" rel="showListAsideCaller">-->
<!--                <i class="icon fa-solid fa-list-ul"></i>-->
<!--                <span class="text">맛집</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <ul class="menu">-->
<!--        <li class="item">-->
<!--            <a class="link" href="#" rel="showAddAsideCaller">-->
<!--                <i class="icon fa-solid fa-plus"></i>-->
<!--                <span class="text">추가</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <div class="spring"></div>-->
<!--    <ul class="menu">-->
<!--        <li class="item" th:if="${session.user == null}">-->
<!--            <a class="link" href="#" rel="showLoginCaller">-->
<!--                <i class="icon fa-solid fa-right-to-bracket"></i>-->
<!--                <span class="text">로그인</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="item" th:if="${session.user != null}">-->
<!--            <a class="link" th:href="@{/user/logout}">-->
<!--                <i class="icon fa-solid fa-arrow-right-to-bracket"></i>-->
<!--                <span class="text">로그아웃</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="item">-->
<!--            <a class="link" href="#">-->
<!--                <i class="icon fa-solid fa-headset"></i>-->
<!--                <span class="text">고객센터</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<!--<aside class="aside list -visible" id="listAside">-->
<!--    <h2 class="title">맛집 목록</h2>-->
<!--    <ul class="places">-->
<!--        <li class="empty">현재 위치에 등록된 맛집이 없어요. <br><br>위치를 옮기거나 맛집을 등록해 보세요.</li>-->
<!--&lt;!&ndash;        <li class="item">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="https://i.namu.wiki/i/SbNeq4z8G_l8NxwndZXsiBmQ70dcjvh-elEjz4Zj0d6QqDvUO7Z1zgOCuDvid-42kWYGF5tBqDHzJE0xS5a0gsJpJeYGg987L0ZvKyU6zS9PC0dfDcoLMJhNGT0IMPL2oHKPO4wXkCrF3tmUINBYbA.webp"&ndash;&gt;-->
<!--&lt;!&ndash;                 alt="" class="thumbnail">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="info">&ndash;&gt;-->
<!--&lt;!&ndash;                <h3 class="title">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="title">쭝궈런빤 사천</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="category">중식당</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </h3>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="op">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="status">영업 전</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="detail"> 11:30에 영업 시작</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="address">대구 중구 삼덕동 2가</span>&ndash;&gt;-->
<!--&lt;!&ndash;                &ndash;&gt;-->
<!--&lt;!&ndash;                <ul class="menu">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="item favorite">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="icon fa-regular fa-heart"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="text">1,776</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="item review">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="icon fa-solid fa-comments"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="text">3,867</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--    </ul>-->
<!--</aside>-->

<!--<div id="addressFinder">-->
<!--    <div class="dialog"></div>-->
<!--</div>-->

<!--<aside class="aside add " id="addAside">-->

<!--    <h2 class="title">맛집 추가</h2>-->
<!--    <form novalidate class="form" th:with="placeRegex = ${T(com.jwj.matzip.regexes.PlaceRegex)}">-->
<!--        &lt;!&ndash; novalidate 는 HTML 폼 요소의 속성 중 하나로, 브라우저의 기본적인 유효성 검사를 비활성화하는 데 사용&ndash;&gt;-->
<!--        <label class="_obj-label thumbnail" rel="thumbnailLabel">-->
<!--            <input hidden accept="image/*" name="thumbnail" type="file">-->
<!--            <span class="__text">대표 이미지</span>-->
<!--            <span class="image-wrapper">-->
<!--                <span class="empty">대표 이미지를 선택해 주세요.</span>-->
<!--                <img class="image" src="" alt="">-->
<!--            </span>-->
<!--        </label>-->

<!--        <label rel="titleLabel" class="_obj-label">-->
<!--            <span class="__text">상호명</span>-->
<!--            <input required type="text" class="_obj-input __field" maxlength="50" minlength="1" name="title"-->
<!--                   placeholder="상호명(숫자, 영어 대소문자, 완성 한글, 공백 1자 이상 50자 이하" spellcheck="false"-->
<!--                   th:attrappend="data-regex=${placeRegex.title.expression}">-->
<!--            <span class="__warning">올바른 상호명을 입력해 주세요.</span>-->
<!--            <label class="_obj-label" rel="categoryLabel">-->
<!--                <span class="__text">분류</span>-->
<!--                <select name="category" class="_obj-input __field">-->
<!--                    <option disabled hidden selected value="-1">분류 선택</option>-->
<!--                    <option value="CHN">중식</option>-->
<!--                    <option value="ESA">동남아</option>-->
<!--                    <option value="ETC">기타</option>-->
<!--                    <option value="JPN">일식</option>-->
<!--                    <option value="KOR">한식</option>-->
<!--                    <option value="KRB">분식</option>-->
<!--                    <option value="WST">양식</option>-->
<!--                    "-->
<!--                </select>-->
<!--                <span class="__warning">분류를 선택해 주세요.</span>-->
<!--            </label>-->
<!--            <label class="_obj-label" rel="contactLabel">-->
<!--                <span class="__text">연락처</span>-->
<!--                <span class="__horizontal">-->
<!--                    <input required autocomplete="off" type="text" class="_obj-input __field" maxlength="4"-->
<!--                           minlength="3" name="contactFirst" spellcheck="false"-->
<!--                           th:attrappend="data-regex=${placeRegex.contactFirst.expression}">-->
<!--                    <input required autocomplete="off" type="text" class="_obj-input __field" maxlength="4"-->
<!--                           minlength="3" name="contactSecond" spellcheck="false"-->
<!--                           th:attrappend="data-regex=${placeRegex.contactSecond.expression}">-->
<!--                    <input required autocomplete="off" type="text" class="_obj-input __field" maxlength="4"-->
<!--                           minlength="4" name="contactThird" spellcheck="false"-->
<!--                           th:attrappend="data-regex=${placeRegex.contactThird.expression}">-->
<!--                </span>-->
<!--                <span class="__warning">올바른 연락처를 입력해 주세요.</span>-->
<!--            </label>-->
<!--        </label>-->
<!--        <label class="_obj-label" rel="addressLabel">-->
<!--            <span class="__text">주소</span>-->
<!--            <span class="__horizontal">-->
<!--                    <input readonly required autocomplete="off" class="_obj-input -spring __field" maxlength="5"-->
<!--                           minlength="5" name="addressPostal" spellcheck="false" type="text"-->
<!--                           th:attrappend="data-regex=${placeRegex.addressPostal.expression}">-->
<!--                    <button class="_obj-button" name="addressFind" type="button">주소 찾기</button>-->
<!--                </span>-->
<!--            <input readonly required autocomplete="off" class="_obj-input -spring __field" maxlength="100" minlength="1"-->
<!--                   name="addressPrimary" placeholder="'주소 찾기' 버튼을 클릭하여 주소를 입력해 주세요." spellcheck="false" type="text"-->
<!--                   th:attrappend="data-regex=${placeRegex.addressPrimary.expression}">-->
<!--            <input required autocomplete="off" class="_obj-input -spring __field" maxlength="100" minlength="1"-->
<!--                   name="addressSecondary" placeholder="상세 주소(건물명, 동/호 등)" spellcheck="false" type="text"-->
<!--                   th:attrappend="data-regex=${placeRegex.addressSecondary.expression}">-->
<!--            <span class="__warning">올바른 주소를 입력해 주세요.</span>-->
<!--        </label>-->
<!--        <label class="_obj-label" rel="coordsLabel">-->
<!--            <span class="__text">좌표</span>-->
<!--            <span class="__horizontal">-->
<!--                <input disabled readonly required autocomplete="off" class="_obj-input __field" name="latitude"-->
<!--                       placeholder="위도"-->
<!--                       spellcheck="false" type="text">-->
<!--                <input disabled readonly required autocomplete="off" class="_obj-input __field" name="longitude"-->
<!--                       placeholder="경도"-->
<!--                       spellcheck="false" type="text">-->
<!--                </span>-->
<!--        </label>-->
<!--        <label class="_obj-label" rel="descriptionLabel">-->
<!--            <span class="__text">설명</span>-->
<!--            <textarea required autocomplete="off" class="_obj-input" name="description" placeholder="설명을 입력해 주세요."-->
<!--                      spellcheck="false" th:attrappend="data-regex=${placeRegex.description.expression}"></textarea>-->
<!--        </label>-->

<!--        <div class="_obj-label schedule" rel="scheduleLabel">-->
<!--            <span class="__text">영업 일정</span>-->
<!--            <table class="table">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>요일</th>-->
<!--                    <th>오픈</th>-->
<!--                    <th>마감</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <label class="_obj-check-label">-->
<!--                            <input checked name="sunOp" type="checkbox">-->
<!--                            <span class="__box"></span>-->
<!--                            <span class="__text">일</span>-->
<!--                        </label>-->
<!--                    </th>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required name="sunOpen" type="time" class="_obj-input">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required class="_obj-input" name="sunClose" type="time">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <label class="_obj-check-label">-->
<!--                            <input checked name="monOp" type="checkbox">-->
<!--                            <span class="__box"></span>-->
<!--                            <span class="__text">월</span>-->
<!--                        </label>-->
<!--                    </th>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required name="monOpen" type="time" class="_obj-input">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required class="_obj-input" name="monClose" type="time">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <label class="_obj-check-label">-->
<!--                            <input checked name="tueOp" type="checkbox">-->
<!--                            <span class="__box"></span>-->
<!--                            <span class="__text">화</span>-->
<!--                        </label>-->
<!--                    </th>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required name="tueOpen" type="time" class="_obj-input">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required class="_obj-input" name="tueClose" type="time">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <label class="_obj-check-label">-->
<!--                            <input checked name="wedOp" type="checkbox">-->
<!--                            <span class="__box"></span>-->
<!--                            <span class="__text">수</span>-->
<!--                        </label>-->
<!--                    </th>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required name="wedOpen" type="time" class="_obj-input">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required class="_obj-input" name="wedClose" type="time">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <label class="_obj-check-label">-->
<!--                            <input checked name="thuOp" type="checkbox">-->
<!--                            <span class="__box"></span>-->
<!--                            <span class="__text">목</span>-->
<!--                        </label>-->
<!--                    </th>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required name="thuOpen" type="time" class="_obj-input">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required class="_obj-input" name="thuClose" type="time">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <label class="_obj-check-label">-->
<!--                            <input checked name="friOp" type="checkbox">-->
<!--                            <span class="__box"></span>-->
<!--                            <span class="__text">금</span>-->
<!--                        </label>-->
<!--                    </th>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required name="friOpen" type="time" class="_obj-input">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required class="_obj-input" name="friClose" type="time">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <label class="_obj-check-label">-->
<!--                            <input checked name="satOp" type="checkbox">-->
<!--                            <span class="__box"></span>-->
<!--                            <span class="__text">토</span>-->
<!--                        </label>-->
<!--                    </th>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required name="satOpen" type="time" class="_obj-input">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <label class="_obj-label">-->
<!--                            <input required class="_obj-input" name="satClose" type="time">-->
<!--                        </label>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--        <button class="_obj-button" type="submit">추가하기</button>-->
<!--        <button class="_obj-button" name="cancelButton" type="button">취소</button>-->
<!--    </form>-->
<!--</aside>-->
<!--<section id="map">지도를 불러오는 중입니다. 잠시만 기다려 주세요.</section>-->
